<div class="add-comment-container">
    <h2>Add New Comment</h2>
      
    <form action="/add-comment" method="POST">
    
    <label for="title"><b>Comment</b></label>
    <input type="text" placeholder="Comment Name" name="title">
    
    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="30" rows="10"></textarea>

    <input type="hidden" name="postId" value="<%= postId %>">
    
    <input type="submit" value="Add" class="btn">
    
    </form>
</div>